@charset "UTF-8";
@import url("https://use.typekit.net/ttt1zja.css");
@font-face {
	font-family: "elgoc";
	src: url("/fonts/Elgoc-Regular");
}
h2, h3, p {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
html, body {
	background-color: var(--bg-color);
	width: 100vw;
	margin: 0;
}
.nav {
	left: 5%;
	position: fixed;
	font-size: 20px;
	font-weight: normal;
	line-height: 22px;
	top: 1%;
	z-index: 2;
	color: var(--font-color);
	text-decoration: none;
}
.links {
	right: 5%;
	position: fixed;
	font-size: 20px;
	font-weight: normal;
	line-height: 22px;
	top: 1%;
	z-index: 2;
	color: var(--font-color);
	text-decoration: none;
}
.name {
	color: var(--font-color);
	text-decoration: none;
}
.name:hover {
	color: var(--name-color);
}
h1 {
	font-family: 'elgoc';
	font-size: 3.2em;
	line-height: 1em;
	font-weight: 400;
	color: var(--font-color);
	position: relative;
}
.selected {
	color: var(--name-color);
	padding-left: 5%;
}
h2 {
	font-size: 22px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0.3px;
	text-align: left;
	color: var(--font-color);
	margin-top: 30px;
	margin-bottom: -10px;
	margin-left: 3%;
	margin-right: 3%;
}
h3 {
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
	color: var(--name-color);
	margin-top: 15px;
	margin-left: 3%;
	margin-right: 3%;
}
p {
	display: block;
	font-weight: 400;
	line-height: 26px;
	color: var(--font-color);
}

.project {
	width: 40vw;
	height: 400px;
	margin: 2%;
	float: right;
	align-content: right;
	padding-bottom: 50px;
}
canvas {
	border-radius: 7.5px;
}
.article {
	float: left;
	width: 42%;
	margin-left: 4%;
	margin-right: 4%;
	margin-bottom: 4%;
}
.projects:after {
	content: "";
	display: table;
	clear: both;
}
:root {
	--font-color: #0f0f0f;
	--bg-color: #D9D7DD;
	--name-color: #666A86;
}
@media (prefers-color-scheme: dark) {
	:root {
		--font-color: #fefefe;
		--bg-color: #1C1D22;
		--name-color: #5C6270;
	}
}
::-webkit-scrollbar {
	display: none;
}
a {
	color: var(--font-color);
	text-decoration: none;
}
.link {
	text-decoration: none;
	color: var(--font-color);
	padding-left: 0px;
	background-repeat: repeat-x;
	background-size: 10% 0em;
	background-position: 0 100%;
	-webkit-transition: 300ms ease;
	transition: 300ms ease;
	position: relative;
}
.link:hover {
	color: var(--font-color);
	text-decoration: none;
	background-size: 100% 1em;
}
.email:hover,
.github:hover,
.linkedin:hover {
	color: #fefefe;
}
.email {
	background-image: -webkit-linear-gradient(var(--name-color) 0%, var(--name-color) 100%);
}
.github {
	background-image: -webkit-linear-gradient(var(--name-color) 0%, var(--name-color) 100%);
}
.linkedin {
	background-image: -webkit-linear-gradient(var(--name-color) 0%, var(--name-color) 100%);
}
@media screen and (max-width:588px) {
	.links {
		position: relative;
		margin-left: 5%;
	}
	.nav {
		position: relative;
		width: 50vw;
	}
	h1 {
		padding-top: 10%;
		font-size: 40px;
		line-height: 40px;
		margin-bottom: 20px;
	}
	h2 {
		font-size: 20px;
		line-height: 34px;
		margin-left: 0%;
		margin-right: 0%;
		margin-bottom: -5%;
	}
	h3 {
		font-size: 18px;
		margin-left: 0%;
		margin-right: 0%;
	}
	.desc, .selected, .links {
		padding-left: 5%;
		padding-right: 5%;
	}
	.projects {
		padding-left: 2.5vw;
	}

	.article {
		width: 90vw;
		height: 600px;
		margin-bottom: -10%;
	}
	.project {
		width: 90vw;
		height: 400px;
	}
	@-webkit-keyframes fadeIn {
    		from {
       			opacity: 0;
    		}

   		to {
        		opacity: 1;
    		}
	}
	@-moz-keyframes fadeIn {
   		from {
        		opacity: 0;
    	}

    		to {
        		opacity: 1;
    		}
	}
	@keyframes fadeIn {
    		from {
       			opacity: 0;
    	}

    		to {
        		opacity: 1;
    		}
	}
	.links {
    		-webkit-animation: fadeIn ease-in 0.5s;
    		-moz-animation: fadeIn ease-in 0.5s;
    		animation: fadeIn ease-in 0.5s;
    		-webkit-animation-duration: 0.5s;
    		-moz-animation-duration: 0.5s;
    		animation-duration: 0.5s;
	}
}
@media screen and (min-width:589px) and (max-width:999px) {

	.desc {
		padding-top: 8%;
		padding-left: 5%;
		padding-right: 5%;
	}
	h2 span {
		display: none;
	}
}
@media screen and (min-width:1000px) and (max-width:1299px) {
	.desc {
		padding-top: 8%;
		padding-left: 5%;
		padding-right: 20%;
		padding-bottom: 2%;
	}
	h2 span {
		display: none;
	}
}
@media screen and (min-width:1300px) {
	.desc {
		padding-top: 8%;
		padding-left: 5%;
		padding-right: 40%;
		padding-bottom: 2%;
	}
	h2 span {
		display: none;
	}
}
@media screen and (min-width:1600px) {
	h1 {
		font-size: 4.5em;
	}
	.desc {
		padding-left: 5%;
		padding-right: 30%;
	}
	h2 span {
		display: none;
	}
}
